<div class="background">
  <div class="info" id="home">
    <a href="https://github.com/PhumlaniDev?tab=repositories" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/phumlani-arendse/" target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>

    <h1 style="font-size: 65px; color: white">Phumlani Arendse</h1>
    <p style="color: white; font-size: 18px">
      I'm a Web Developer with extensive experience for over 3 years. My expertise is to create and
      design websites, Apps, Mockups and many moire
    </p>
    <button><a href="#contact">CONTACT ME</a></button>
  </div>
</div>

<div class="container">
  <div class="about" id="about">
    <div>
      <img src="../../assets/WhatsApp Image 2021-01-08 at 19.59.01.jpeg" alt="Phumlani Arendse" />
    </div>

    <div class="details">
      <h1>About Me.</h1>
      <div class="line"></div>
      <p>
        I am a self-motivated mobile and back-end developer. I enjoy collaborating with people and
        adapt well to challenges. I am keen to learn new technologies as tech changes everyday. My
        programming experience has offer a lot of knowledge in solving the problems, programming,
        developing and deploying web applications using Github & Git, Heroku with PostgreSQL. I have
        developed web apps with HTML,CSS and Java.
      </p>

      <div class="skills">
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Java</li>
          <li>Android</li>
          <li>Firebase</li>
          <li>PostgreSQL</li>
          <li>Adobe XD</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>
</div>
