<div class="projects" id="work">
  <h1>Projects</h1>
  <div class="line"></div>
  <div class="work">
    <div>
      <img src="../../assets/gesture machine learning.png" alt="Gesture Machine Learning" />

      <a href="http://gesture.herokuapp.com/">
        <h2>Gesture ML Hackathon</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/greet app placeholder.png" alt="Greet app" />
      <a href="https://greetwebapp.herokuapp.com/hello">
        <h2>Greet App</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/Employee Manangement System.jpg" alt="Employeee Management System" />
      <a href="https://github.com/PhumlaniDev/Employee-Management-Systemme">
        <h2>Employeee Management System</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/Eat Cup Cake.jpg" alt="Eat Cup Cake" />
      <a href="https://github.com/PhumlaniDev/EatCupcake">
        <h2>Eat Cup Cake</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/Rock Paper Scicors.png" alt="Rock Paper Scicors" />
      <a href="https://github.com/PhumlaniDev/Rock-Paper-Scissors">
        <h2>Rock Paper Scicors</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/hangman.png" alt="hangman" />
      <a href="https://github.com/PhumlaniDev/Hangman">
        <h2>Hangman</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>

    <div>
      <img src="../../assets/eHealth.jpg" alt="eHealth" />
      <a href="https://ehealth-care.herokuapp.com/">
        <h2>eHealth</h2>
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia similique eaque iure id
        illum assumenda incidunt, unde, harum eos fugit commodi quibusdam aut nostrum? Dolor numquam
        modi facere iste autem!
      </p>
    </div>
  </div>
</div>
